// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background: #F7EEDB;
$accent-green: #8BAA7B;
$accent-brown: #C9815B;
$accent-yellow: #F2C94C;
$dark: #4A4A4A;

// Optional card background
$card-bg: #FCF8EF;
