.cookbook-action-wrapper .favorite-btn {
  width: 100%;
  height: auto;
  padding: 15px;
  font-size: 20px;
  border-radius: 50px;
  background: none;
  border: 2px solid #4A4A4A;
  color: #4A4A4A;
}

.cookbook-action-wrapper .favorite-btn.saved {
  border-color: #8BAA7B;
  color: #8BAA7B;
}
