<nav class="bottom-navbar">
  <div class="bottom-nav-items">


    <%= link_to "#", class: "bottom-nav-link" do %>
      <i class="fas fa-circle"></i>
    <% end %>


    <%= link_to dashboard_path, class: "bottom-nav-home" do %>
      <%= image_tag "logo_cookup.png",
                    class: "home-icon" %>
    <% end %>


    <%= link_to "#", class: "bottom-nav-link" do %>
      <i class="fas fa-circle"></i>
    <% end %>

  </div>
</nav>
