<nav class="bottom-navbar">
  <div class="bottom-nav-items">


    <%= link_to "/profile", class: "bottom-nav-link" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>


    <%= link_to dashboard_path, class: "bottom-nav-link" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>


    <%= link_to "/cookbook", class: "bottom-nav-link" do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>

  </div>
</nav>
