.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $background;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  z-index: 1000;
}

.bottom-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

@media (min-width: 768px) {
  .bottom-nav-items {
    gap: 16rem;
  }
}


.bottom-nav-link i {
  font-size: 24px;
  color: #555;
}

.bottom-nav-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-icon {
  height: 45px;
  width: auto;
  object-fit: contain;
  display: block;
}
